/* HeroDetailComponent's private CSS styles */
label {
  color: #435960;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
}
button {
  margin-top: 20px;
  border-radius: 4px;
  height: 1.5rem;
  padding: 0.2rem 0.5rem;
  margin-left: 1rem;
  font-size: 0.7rem;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.details-heading{
  display: flex;
}

#goBack{

  background-color: #993333;
  color: white;
}
#save{
  background-color: #339938;
  color: white;
}
